.purgatory 
{
	display: none;
}

td.top {
    vertical-align: top;
    border: 1px solid red;
}
td.bottom {
    vertical-align: bottom;
    border: 1px solid green;
}

img.logo {
	width: 280px;
	height: 280px;
	padding: 20px 10px;
}

div.cell {
	text-align: center;
}

div.header {
		text-align: center;
}


#qr_image {
	width: 350px;
	height: 350px;
}

td {
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
}